<ul class="skills-list editing">
	<li class="skill flexrow item-header">
		<div class="item-image"></div>
		<div class="item-name" >{{ localize 'T20.Skills'}}</div>
		<div class="item-total">{{ localize 'T20.Total'}}</div>
		{{#if isCharacter}}<div class="item-abl">{{ localize 'T20.AbilityBonus'}}</div>{{/if}}
		<div class="item-outros">{{ localize 'T20.Other'}}</div>
	</li>
	{{#if mostrarBonusTreino}}
	<li class="skill">
		<div class="item-total">
			<small>{{ localize 'T20.SkillTrainBonus'}}: +{{system.attributes.treino}}</small>
		</div>
	</li>
	{{/if}}
	{{#each skills as |skill key|}}
	{{#if (eq skill.key "ofi0")}}
	<li class="skill flexrow">
		<div class="item-image"></div>
		<div class="item-name compendium-entry" data-compendium-entry="tormenta20.pericias.iviKBc19dNgZYBJ0">
			<b>{{ localize 'T20.SkillOfic'}} +</b>
		</div>
		<div class="item-total"></div>
		<div class="item-abl">
			<a class="item-control skill-create" title="{{ localize 'T20.Add'}} {{ localize 'T20.SkillOfic'}}" data-tipo="oficio"><i class="fa-solid fa-plus"></i> {{ localize 'T20.Add'}}</a>
		</div>
		<div class="item-outros">
			<a class="item-control show-controls" title="{{ localize 'T20.Edit'}} {{ localize 'T20.Skills'}}"><i class="fas fa-cogs"></i></a>
		</div>
	</li>
	{{else if (eq skill.key "_pc0")}}
	<li class="skill flexrow">
		<div class="item-image"></div>
		<div class="item-name">{{ localize 'T20.New'}} {{ localize 'T20.Skill'}}</div>
		<div class="item-total"></div>
		<div class="item-abl">
			<a class="item-control skill-create" title="{{ localize 'T20.Add'}} {{ localize 'T20.Skill'}}" data-tipo="pericia"><i class="fa-solid fa-plus"></i> {{ localize 'T20.Add'}}</a>
		</div>
		<div class="item-outros">
			<a class="item-control show-controls" title="{{ localize 'T20.Edit'}} {{ localize 'T20.Skills'}}"><i class="fas fa-cogs"></i></a>
		</div>
	</li>
	{{else}}
	<li class="skill flexrow {{#if skill.custom }}custom{{/if}}" data-item-id="{{skill.key}}">
		<div class="item-image">
			<a class="training-toggle skill-training" title="{{ localize 'T20.Trained'}}"><i class="{{skill.symbol}}"></i></a>
			<input type="hidden" name="system.pericias.{{skill.key}}.treinado" value="{{skill.treinado}}" />
		</div>
		<div class="item-name" data-item-id="{{skill.key}}">
			{{#if skill.custom}}
				<span class="rollable pericia-rollable">
					<i class="fas fa-dice-d20"></i>
				</span>
				<input type="text" name="system.pericias.{{skill.key}}.label" value="{{skill.label}}">
			{{else}}
				<span class="rollable pericia-rollable">
					{{{skill.label}}} {{#if skill.st}}*{{/if}} {{#if skill.pda}}+{{/if}}
				</span>
			{{/if}}
		</div>
		<div class="item-total">
			{{#if wip}}data-tooltip="{{fieldBonuses @root path=(concat 'system.pericias.' skill.key '.bonus')}}" data-tooltip-direction="LEFT"{{/if}}
			<input disabled type="text" data-dtype="Number" name="system.pericias.{{skill.key}}.total" value="{{numberFormat skill.value sign=true}}"/>
		</div>
		{{#if ../isCharacter}}
		<div class="item-abl">
			<select class="selectatr" name="system.pericias.{{skill.key}}.atributo" value={{skill.atributo}}>
			{{#select skill.atributo}}
				{{#each ../config.atributosAbr as |name abl|}}
					<option value="{{abl}}">{{localize name}}</option>
				{{/each}}
			{{/select}}
			</select>
		</div>
		{{/if}}
		<div class="item-outros">
			<input type="text" class="skill-outros" data-dtype="Number" name="system.pericias.{{skill.key}}.outros" value="{{skill.outros}}"/>
			{{#if skill.custom}}
			<a class="item-control skill-delete" style="display: none;" data-item-id="{{skill.key}}" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
			{{/if}}
		</div>
		<input type="hidden" data-dtype="Number" name="system.pericias.{{skill.key}}.condi" value="0"/>
	</li>
	{{/if}}
	{{/each}}
	<li>
		<label style="font-size:11px;">+ <i>{{localize 'T20.ArmorPenalty'}}.</i> * <i> {{localize 'T20.SkillTrainedOnly'}}.</i></label>
	</li>
</ul>