<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
	{{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
		<a class="item" data-tab="enhancements">{{ localize "T20.Enhancements" }}</a>
		<a class="item" data-tab="effects">{{ localize "T20.Effects" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-description.html"}}
		
		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			
			{{!-- Weapon Type --}}
			<div class="form-group">
				<label>{{ localize "T20.WeaponProficiency" }}</label>
				<div class="form-fields">
					<select name="system.proficiencia">
						{{selectOptions config.weaponTypes blank="" selected=item.system.proficiencia localize=true}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.WeaponPurpose" }}</label>
				<div class="form-fields">
					<select name="system.proposito">
						{{selectOptions config.weaponPurposeTypes blank="" selected=item.system.proposito localize=true}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.WeaponWielding" }}</label>
				<div class="form-fields">
					<select name="system.empunhadura">
						{{selectOptions config.weaponWieldingTypes blank="" selected=item.system.empunhadura localize=true}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.Cost" }}</label>
				<div class="form-fields">
					<input type="number" data-dtype="Number" placeholder="0" name="system.ativacao.custo" value="{{item.system.ativacao.custo}}"/><label>{{localize 'T20.MP'}}</label>
				</div>
			</div>
			<div class="form-group input-select">
				<label>{{ localize "T20.ConsumeTitle" }}</label>
				<div class="form-fields">
					<select name="system.consume.type">
							{{#select system.consume.type}}
							<option value=""></option>
							{{#each config.abilityConsumptionTypes as |name key|}}
							<option value="{{key}}">{{localize name}}</option>
							{{/each}}
							{{/select}}
					</select>
					<select name="system.consume.target">
						{{#select system.consume.target}}
						<option value=""></option>
						{{#each abilityConsumptionTargets as |name key|}}
						<option value="{{key}}">{{localize name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<input type="text" name="system.consume.amount" value="{{system.consume.amount}}" data-dtype="Number"/>
				</div>
			</div>
			<hr>
			{{!-- Weapon Properties --}}
			<div class="form-group stacked weapon-properties">
				<label>{{ localize "T20.Properties" }}</label>
				{{#each config.weaponProperties as |name prop|}}
				<label class="checkbox">
					<input type="checkbox" name="system.propriedades.{{prop}}" value="{{name}}" {{checked (lookup ../item.system.propriedades prop)}} data-dtype="Boolean" /> {{ localize name }}
				</label>
				{{/each}}

			</div>
			<hr>
			{{!-- Rolls --}}
			{{> "systems/tormenta20/templates/item/parts/item-rolls.html"}}
			
			<div class="form-group">
				<label>{{ localize "T20.Critical" }}</label>
				<div class="form-fields">
					<input type="number" title="{{ localize 'T20.CriticalHitThreshold' }}" name="system.criticoM" value="{{item.system.criticoM}}" data-dtype="Number" min="1" max="20" placeholder="ex.: 19"/>
					<input type="number" title="{{ localize 'T20.CriticalHitMultiplier' }}" name="system.criticoX" value="{{item.system.criticoX}}" data-dtype="Number" min="2" placeholder="2" />
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.Range" }}</label>
				<div class="form-fields">
					<select class="selectatr" name="system.alcance" value={{item.system.alcance}} data-type="String">
						{{#select item.system.alcance}}
						<option value=""></option>
						<option value="short">{{localize "T20.DistShort"}}</option>
						<option value="medium">{{localize "T20.DistMedium"}}</option>
						<option value="long">{{localize "T20.DistLong"}}</option>
						{{/select}}
					</select>
				</div>
			</div>
			<hr>
			
			<div class="form-group">
				<label for="TAGS">TAGS</label>
				<input type="text" name="tag" class="tag-input"><br>
			</div>
			{{#if item.system.tags }}
			<div class="tag-list">
				{{#each item.system.tags as |tag t| }}
				<span class="tag">{{tag}} <a class="tag-delete" data-tag-id="{{t}}">x</a></span>
				{{/each}}
			</div>
			{{/if}}
			<div class="form-group">
				<label for="chatFlavor">{{ localize "T20.ChatFlavor" }}</label>
				<textarea name="system.chatFlavor" contenteditable="true">{{item.system.chatFlavor}}</textarea>
			</div>
		</div>
		
		{{!-- Enhancements Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-enhancements.html"}}
		
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>
