<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
	{{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	
	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
		{{#if (eq item.type "consumivel")}}
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
		{{/if}}
		{{#if TODO }}
		<a class="item" data-tab="progression">{{ localize "T20.Progression" }}</a>
		{{/if}}
		{{#if (and (eq item.type "consumivel" (eq item.system.tipo 'ammo')))}}
		<a class="item" data-tab="enhancements">{{ localize "T20.Enhancements" }}</a>
		{{/if}}
		<a class="item" data-tab="effects">{{ localize "T20.Effects" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-description.html"}}

		{{!-- Details Tab --}}
		{{#if (eq item.type "consumivel")}}
		<div class="tab details" data-group="primary" data-tab="details">
			<div class="form-group">
				<label>{{ localize "T20.Type" }}</label>
				<div class="form-fields">
					<select name="system.tipo">
						{{#select item.system.tipo}}
							<option value="ammo">Munição</option>
							<option value="scroll">Pergaminho</option>
							<option value="alchemy">Alquímico</option>
							<option value="potion">Poção</option>
							<option value="material">Material</option>
							<option value="food">Comida</option>
						{{/select}}
					</select>
				</div>
			</div>
			<hr>
			{{!-- Rolls --}}
			{{> "systems/tormenta20/templates/item/parts/item-rolls.html"}}
			
			<hr>
			<h3>Ativação</h3>
			{{> "systems/tormenta20/templates/item/parts/item-ativacao.html"}}
			{{> "systems/tormenta20/templates/item/parts/item-resistencia.html"}}

			<hr>
			<div class="form-group">
				<label for="TAGS">TAGS</label>
				<input type="text" name="tag" class="tag-input"><br>
			</div>
			{{#if item.system.tags }}
			<div class="tag-list">
				{{#each item.system.tags as |tag t| }}
				<span class="tag">{{tag}} <a class="tag-delete" data-tag-id="{{t}}">x</a></span>
				{{/each}}
			</div>
			{{/if}}
			
			{{!-- Chat Message Flavor --}}
			<div class="form-group stacked">
				<label>{{ localize "T20.ChatFlavor" }}</label>
				<textarea name="system.chatFlavor" contenteditable="true">{{data.chatFlavor}}</textarea>
			</div>
		</div>
		{{/if}}
		
		{{#if TODO }}
		{{!-- Progression Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-progression.html"}}
		{{/if}}

		{{#if (eq item.system.tipo "ammo")}}
		{{!-- Enhancements Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-enhancements.html"}}
		{{/if}}

		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>